*{
  box-sizing: border-box;
}
body{
  background-color: #0B0E11 !important;
  font-family: 'IBM Plex Sans', sans-serif;
}
a:visited{
  text-decoration: none;
  color: rgb(248, 209, 47);
}
header{
  height: 64px;
  width: 100%;
  background-color: #12161C;
}
#flexheader{
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 130px;
  height: 27px;
  position: relative;
  top: 16px;
  left: 5px;
}
.HeaderRegistrarse{
  margin: 0px 16px 0px 8px;
  font-size: 14px;
  line-height: 20px;
  word-break: keep-all;
  color: rgb(33, 40, 51);
  border-radius: 4px;
  padding: 6px 16px;
  min-height: 24px;
  border: none;
  background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
  min-width: 52px;
  font-weight: 400;
  position: relative;
  top: 16px;
}
.Bloque1{
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  color: #0B0E11;
  
}

.Bloque1 h1{
  color: white;
  min-height: 1.2em;
  padding: 3px 7px;
  font-weight: 570;
}
.Bloque1 h2{
  color: #B7BDC6;
  padding: 3px 12px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
}
.Bloque1 button{
  margin: 0px 16px 0px 11px;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  color: #212833;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  min-height: 24px;
  border: none;
  background-color: #FCD535;
  height: 40px;
  margin-top: 16px;
  min-width: 220px;
  font-weight: 520;
}
.Bloque2{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-width: 0;
  background-color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 24px 24px 0 0;
}
.Bloque2 p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  margin: 10px;
  color: #707A8A;
}
.CarrouselAppCss{
  width: 97%;

}
.CarrouselAppCss img{
  border-radius: 24px 24px 0 0;
}
.Bloque3Wrapper{
background-color: white;
padding-left: 16px;
}
.Bloque3Wrapper h1{
  font-size: 24px;
  font-weight: 500;
  color: #1E2329;
  overflow-x: hidden;
}

.Bloque3Wrapper p{
  color: #474D57;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow-x: hidden;
}
.Bloque3SlideWrapper{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow:scroll;
  padding-bottom: 24px;
}

.Bloque3TextSlide{
  background-color: #F5F5F5;
  color: #1E2329;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  margin-right: 16px;
  width: 100%;
}

.Bloque5{
  background-color: white;
  padding-left: 17px;
}
.Bloque5 h1{
  font-size: 24px;
  color: #1E2329;
}
.Bloque5 p{
  color: #474D57;
  font-size: 14px;
  margin:16px;
  overflow-x: hidden;
}
.Bloque5 img{
  height: 400px;
  width: 97%;
  object-fit: contain;
  overflow: hidden;
}
.B5iconsWrapper{

}
.androidIcon{
  width: 37px !important;
  height: 44px !important;
}
.bi-plug{
  color: #0B0E11;
  width: 37px;
  height: 44px;
}